* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --black: #1C232B;
  --grey: #6C7289;
  --cream: #F2EAE2;
  --white: #FFFFFF;
  --green-500: #3D8168;
  --green-700: #1A4032;

  /* Spacing variables */
  --spacing-500: 2.5rem;   /* 40px */
  --spacing-400: 2rem;     /* 32px */
  --spacing-300: 1.5rem;   /* 24px */
  --spacing-200: 1rem;     /* 16px */
  --spacing-100: 0.5rem;   /* 8px */
  --spacing-50: 0.25rem;   /* 4px */
}

/* Typography */

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem; /* 32px */
  font-style: normal;
  line-height: 1;

}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  line-height: 1.1;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  line-height: 1.6;
}

.text-preset-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem; /* 12px */
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.3125rem /* 5px */
}

.text-preset-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem; /* 13px */
  font-style: normal;
  line-height: 1.2;
  text-decoration: line-through;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  height: 100vh;
}

.container {
  border-radius: 8px;
  background-color: var(--white);
  margin: var(--spacing-200);
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 28.5rem; /* 456px */
  max-width: 37.5rem; /* 600px */
}

.product-image {
  overflow: hidden;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  padding: var(--spacing-400);
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.category {
  text-transform: uppercase;
  color: var(--grey);
}

.description {
  color: var(--grey);
}

.price {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.current-price {
  color: var(--green-500);
}

.old-price {
  color: var(--grey);
}

.add-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem; /* 50px */
  gap: var(--spacing-100);

  border: none;
  border-radius: 8px;
  background-color: var(--green-500);
  color: var(--white);

  transition: all 0.2s ease-in-out;
}

.add-card-btn:hover {
  background-color: var(--green-700);
  cursor: pointer;
}

@media (max-width: 700px) {
  .container {
    align-self: flex-start;
  }

  .product-card {
    grid-template-columns: 1fr;
    max-width: 21.875rem; /* 350px */
    max-height: max-content;
  }

  .product-image img {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }

  .content {
    gap: var(--spacing-300);
  }
}